---
import EventoCard from '../layouts/EventoCard.astro';

const {class: className, ...props } = Astro.props;
---

<section id="direccion" class:list={[className]} {...props}>
	<h3 class="text-center font-bold my-10 tracking-widest">¿Cómo llegar?</h3>
	<div class="flex flex-col xl:flex-row justify-evenly items-center">
		<div id="map" class="h-96 m-2 lg:w-3/5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14947.791621852413!2d-100.3067758!3d20.5083617!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d343d31b98216b%3A0x2977c1d9953b17fa!2sLa%20Promesa!5e0!3m2!1ses!2smx!4v1695606121876!5m2!1ses!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			</iframe>
		</div>
		<div id="dir-info" class="m-2 grid grid-cols-2 gap-4 box p-10">
			<EventoCard title="Terraza la promesa">
				Carretera a Huimilpan kilómetro 11, un kilómetro adentro.
			</EventoCard>
			<EventoCard title="Indicaciones">
				La entrada está en una curva pronunciada en dirección a Querétaro (sur a norte). Cambiar de carril en el acotamiento que esta 2 km adelante y entrar por el lado correcto para no hacer tráfico.
			</EventoCard>
		</div>
	</div>
</section>

<style>
	p{
		text-align: center;
		color: #1c365399;
	}
	@media only screen and (min-width: 992px){
		#dir-info{
			max-width: 35%;
		}
	}
</style>